<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wj.product.mapper.ProductMapper">

    <insert id="insert">
        insert into product (name, price, additinal, seller_id)
        values (#{name}, #{price}, #{additinal}, #{sellerId})
    </insert>
    <delete id="delete">
        delete from product where id = #{id}
    </delete>

    <update id="update">
        update product set name = #{name}, price = #{price}, additinal = #{additinal}, count = #{count} where id = #{id}
    </update>

    <update id="updateById">
        update product set count = #{count} where id = #{id}
    </update>
    <update id="updateByMap" flushCache="true">
        <foreach collection="list" item="item" separator=";" open="" close="">
            update product set count = count - #{item.count} where id = #{item.id}
        </foreach>
    </update>
    <select id="getProductsBySellerId" resultType="com.wj.product.entity.Product">
        select *
        from product
        where seller_id = #{sellerId}
    </select>

    <select id="getProductById" resultType="com.wj.product.entity.Product">
        select * from product where id = #{productId}
    </select>

    
    <select id="getProductsByIds" resultType="com.wj.product.entity.Product">
        select * from product where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>

